
<div class="container">
  <h1>
    <%= @instructor.name %>
  </h1>
  <div class="container">
    <h2>Courses</h2>
    <ul>
      <% @instructor.courses.each do |course| %>
        <li>
          <%= link_to course.name, course_path(course.id) %>
        </li>
      <% end %>
    </ul>
    <%= link_to "Create new course", new_course_path  %>
  </div>
  <div class="container">
    <h2>Forum Threads</h2>
    <ul>
      <% @instructor.forum_threads.each do |forum_thread| %> 
        <div class="card">
          <div class="card-content">
            <%= link_to forum_thread.title, forum_thread_path(forum_thread.id) %>
          </div>
        </div> 
      <% end %>
    </ul>
  </div>

</div>
