<% if current_student %>
  <div id="submissions-students" class="container">
    <%= link_to "My submission", course_assignment_submission_path(parms[:course_id], params[:assignment_id], @submission_of_student.id) %>
  </div>

<% elsif current_instructor %>
  <div id="submissions-instructors" class="container">
    <ul>
    <% @submissions.each do |submission| %>
      <li>
        <%= link_to submission.enrollment.student.name, course_assignment_submission_path(params[:course_id], params[:assignment_id], submission.id)  %>
      </li>
    <% end %>
    </ul>
  </div>
<% end %>
