<div class="container">
  <h1><%= @assignment.title %></h1>
  <%= form_with(model: @submission, url: course_assignment_submission_path(params[:course_id], params[:assignment_id], @submission.id), method: :post) do |form| %>
    <%= form.text_area :content, value: "Please enter your submission here" %>
    <%= form.submit "Submit" %>
  <% end %>
</div>
