<div class="container">
  <%= form_with(model: @course, url: course_path(@course.id), method: :patch) do |form| %>
    <%= form.text_field :name, value: @course.name %>
    <%= form.text_area :description, value: @course.description %>
    <%= form.submit "Edit Course" %>
  <% end %>
</div>
