
<div class="my-4 flex flex-col items-center">
  <h2 class="text-4xl">
    <b>
      Courses
    </b>
  </h2>
  <div class="text-center">
    <ul>
      <% @courses.each do |course| %>
        <li class="my-2 border-b border-black hover:border-b hover:border-violet-800">
          <%= link_to course.name, course_path(course), class:"text-lg my-1" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
