<div class="container">
  <%= form_with(model: @course, url: courses_path, method: :post) do |form| %>
    <%= form.text_field :name, value: "Enter name" %>
    <%= form.text_area :description, value: "Enter description" %>
    <%= form.submit "Create Course" %>
  <% end %>
</div>
