<div id="forum-posts" class="container">
  <% @forum_posts.each do |forum_post| %>
    <div class="container">
      <div class="card">
        <div class="card-body">
          <%= forum_post.content %>
          <%= forum_post.student.name %>
        </div>
      </div>
    </div>
  <% end %>
</div>
