<footer id="footer" class="bg-white border-width-1 border-f5 block-footer-1">
			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap">

					<div class="row col-mb-50">
						<div class="col-sm-4">

							<div class="widget">
								<!-- <img src="images/footer-logo@2x.png" alt="Image" class="footer-logo" height="25"> -->
							</div>

						</div>

						<div class="col-sm-8">

							<div class="row gutter-50">
								<div class="col-lg-3 col-6">

									<div class="widget widget_links">

										<h4 class="text-transform-none ls-0">How we Work</h4>

										<ul>
											<li><a href="#">Documentation</a></li>
											<li><a href="#">Feedback</a></li>
										</ul>

									</div>

								</div>

								<div class="col-lg-3 col-6">

									<div class="widget widget_links">

										<h4 class="text-transform-none ls-0">About Us</h4>

										<ul>
											<li><a href="#">Documentation</a></li>
											<li><a href="#">Feedback</a></li>
										</ul>

									</div>

								</div>

								<div class="col-lg-3 col-6">

									<div class="widget widget_links">

										<h4 class="text-transform-none ls-0">How we do</h4>

										<ul>
											<li><a href="#">Plugins</a></li>
											<li><a href="#">Support Forums</a></li>
										</ul>

									</div>

								</div>

								<div class="col-lg-3 col-6">

									<div class="widget widget_links">

										<h4 class="text-transform-none ls-0">Resources</h4>

										<ul>
											<li><a href="#">Documentation</a></li>
											<li><a href="#">Feedback</a></li>
										</ul>

									</div>

								</div>
							</div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights" class="bg-light">
				<div class="container">

					<div class="row col-mb-30">

						<div class="col-md-4 text-center text-md-start">
							<div class="d-flex justify-content-center justify-content-md-start">
								<a href="#" class="social-icon si-small text-light bg-facebook">
									<i class="fa-brands fa-facebook-f"></i>
									<i class="fa-brands fa-facebook-f"></i>
								</a>

								<a href="#" class="social-icon si-small text-light bg-twitter">
									<i class="fa-brands fa-twitter"></i>
									<i class="fa-brands fa-twitter"></i>
								</a>

								<a href="#" class="social-icon si-small text-light bg-google">
									<i class="fa-brands fa-google"></i>
									<i class="fa-brands fa-google"></i>
								</a>

								<a href="#" class="social-icon si-small text-light bg-pinterest">
									<i class="fa-brands fa-pinterest-p"></i>
									<i class="fa-brands fa-pinterest-p"></i>
								</a>

								<a href="#" class="social-icon si-small text-light bg-linkedin">
									<i class="fa-brands fa-linkedin"></i>
									<i class="fa-brands fa-linkedin"></i>
								</a>
							</div>
						</div>

						<div class="col-md-4 text-center text-md-center">
							&copy; 2023 All Rights Reserved by Canvas Inc.<br>
						</div>

						<div class="col-md-4 text-center text-md-end">
							<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
						</div>

					</div>

				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->
